.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

body {
  color: blueviolet;
  background-color: aquamarine;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}